.show-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.show{
  max-width: max-content;
}
.sheet-container{
  border: 1px solid black;
  width: 50%;
  min-width: max-content;
  text-align: center;
  padding: 10px;
}

.eyes{
  margin-top: 30px;
}
hr{
  width: 30%;
}

.availability{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}